.university-topnav-logo {
    background-image: url('./university-logos/logo-aalto.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    display: inline-block;
    height: 53px;
    width: 149px;
    position: relative;
    margin-bottom: -20px;
}

html[lang="fi"] .university-topnav-logo {
    background-image: url('./university-logos/logo-aalto-fi.svg');
    height: 53px;
    width: 149px;
}
html[lang="en"] .university-topnav-logo {
    background-image: url('./university-logos/logo-aalto-en.svg');
    height: 53px;
    width: 149px;
}
html[lang="sv"] .university-topnav-logo {
    background-image: url('./university-logos/logo-aalto-sv.svg');
    height: 53px;
    width: 149px;
}
